@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;500;600;700;800;900&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;500;600;700;800;900&family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: 'Righteous', cursive;
    font-family: 'Recursive', sans-serif;
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
}

header {
    height: 67px;
    width: 100%;
    background-color: #C3CFD9;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Roboto;
    font-size: 34px;
    font-weight: 400;
    line-height: 40px;
    color: #E8833A;

}

.escolherFilme {
    height: 110px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.04em;
    color: #293845;

}

.movieContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.movie {
    height: 209px;
    width: 145px;
    border-radius: 3px;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 4px 2px #0000001A;
    padding: 8px;
    margin-right: 30px;
}

.moviePicture {
    object-fit: cover;
    height: 193px;
    width: 129px;
    border-radius: 0px;
}

footer {
    height: 117px;
    width: 100%;
    border: 1px solid #9EADBA;
    background-color: #DFE6ED;
    position: fixed;
    bottom: 0px;
    display: flex;
    align-items: center;
    
}

footer h1 {
    font-family: Roboto;
    font-size: 26px;
    font-weight: 400;
    line-height: 30px;
    color: #293845;
    margin-left: 14px;
}

.imageFooter {
    margin-left: 10px;
    height: 89px;
    width: 64px;
    border-radius: 2px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;

}

.imageFooter img {
    height: 72px;
    width: 48px;
}